{% extends 'base.html' %} {% load static %}{%load blog_tags%}{%block title%}
Recipe Category {%endblock%} {% block content %}
<section class="section bg-light">
  <div class="container">
    <div class="row align-items-stretch retro-layout">
      {%for category in re_categories%}
      <div class="col-md-4">
        <a
          href="{{ category.get_absolute_url }}"
          class="h-entry mb-30 v-height gradient"
        >
          <div
            class="featured-img"
            {%
            if
            image
            %}
            style="background-image: url('{{category.image.url}}')"
            {%
            endif
            %}
          ></div>

          <div class="text">
            <h2>{{category.name}}</h2>
            <h3>{{recipe_count}}</h3>
          </div>
        </a>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
{% endblock %}
